.screen-2 .container {
	background-color: #FAFAFA;
}

.selected-quizz {
	height: 227px;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.selected-quizz .banner {
	background-color: black;
	height: inherit;
	width: 100%;
	opacity: 60%;
	position: relative;
}

.selected-quizz h1 {
	color:  #FFFFFF;
	font-size: 39px;
	position: absolute;
}

.quizz-container {
	display: flex;
	justify-content: center;
	padding: 42px;
}

.quizz {	
	display: flex;
	flex-direction: column;
	width: 759px;
	align-items: center;
}

.quizz .question {
	background-color: #FFFFFF;
	margin-bottom: 42px;	
	padding: 27px 36px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz .question h1 {
	width: 100%;
	height: 138px;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	color: #FFFFFF;
	padding: 0 30px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.quizz .options {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.quizz button {
	background-color: inherit;
	width: 330px;
	border: none;
	display: flex;
	flex-direction: column;
	object-fit: cover;
	padding: 0;
	margin-top: 20px;

}

.quizz button img {
	width: 100%;
	height: 175px;
	object-fit: cover;
}

.quizz button p {
	font-size: 20px;
	font-weight: 700;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}

.quizz button.blur {
	opacity: 30%;
}

.quizz .result {	
	background-color: #FFFFFF;
	margin-bottom: 42px;	
	padding: 27px 36px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.quizz .result .content{
	display: flex;
}

.quizz .result h1 {
	width: 100%;
	height: 138px;
	font-size: 23px;
	font-weight: 700;
	text-align: center;
	color: #FFFFFF;
	padding: 0 30px;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 18px;
}

.quizz .result img {
	width: 100%;
	height: 273px;
	object-fit: cover;
	margin-right: 21px;
}

.quizz .result p {
	font-size: 19px;
	font-weight: 700;
	color: #484848;
}

.quizz .restart-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #EC362D;
	border-radius: 15px;
	width: 260px;
	height: 52px;
	color: #FFF5F4;
	font-weight: 400;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
}

.quizz .home-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: inherit;
	border-radius: 15px;
	width: 260px;
	height: 52px;
	color: #818181;
	font-weight: 400;
	font-size: 21px;
	font-family: 'Roboto', sans-serif;
}

@media (max-width: 1120px) {
	.selected-quizz {
		height: 142px;
	}

	.selected-quizz h1 {
		font-size: 19px;
	}

	.quizz {
		width: 400px;
	}

	.quizz .question {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 18px;
		width: inherit;
	}

	.quizz .question h1 {
		height: 89px;
		font-size: 19px;
	}

	.quizz button{
		width: 175px;	
		margin-top: 13px;
	}

	.quizz button img {
		height: 113px;
	}

	.quizz button p {
		font-size: 13px;
		font-weight: 700;
	}

	.quizz .result {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 18px;
		width: inherit;
		margin-bottom: 20px;
	}

	.quizz .result .content{
		display: initial;
	}

	.quizz .result h1 {
		height: 89px;
		font-size: 19px;
	}

	.quizz .result img {
		height: 255px;
		margin-right: 0;
		margin-bottom: 21px;
	}

	.quizz .result p {
		font-size: 17px;
	}

	.quizz .restart-btn, .quizz .home-btn {
		width: 219px;
		height: 44px;
		font-size: 18px;
	}
} 

